---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="What is credit?" id="about">
  <Fragment slot="lead">
    Generally, <span class="text-primary">credit</span> is when a <span class="text-primary">borrower</span> receives money from a <span class="text-primary">lender</span> and agrees to pay it back at a later date.
  </Fragment>
  <div class="max-w-3xl text-center">
    Credit is often used to purchase goods and services that the borrower cannot afford to pay for in full at the time of purchase, but may be able to pay for over time or at a later date.
    Each person is assigned their own credit score when they first borrow money.  
    This score indicates how financially reliable (chance that you'd pay the money back) you are. 
  </div>
</ContentSection>
