---
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";
import { getShowcase } from "~/data/showcase";

const sites = await getShowcase();
---

<ContentSection title="Tips" id="showcase">
  <Fragment slot="lead">
    Credit is <span class="text-primary">dangerous</span>, but also very useful.
  </Fragment>
  <div class="max-w-3xl space-y-2">
    <ul class=" list-disc">
        <li>Learn the difference between safe credit and dangerous credit (mortgages are safer than trading on margin).</li>
        
        <li>Pay at least the minimum to circumvent late fees.</li>
        
        <li>Diversify the types of credit you have.</li>

        <li>Credit is real money.</li>
    </ul>
  </div>
</ContentSection>
